// Specific CSS for your home-page

body {
  background-color: white;
}

 // Styling banner
#home-picture-box {
  display: grid;
  height: 100%;
  position: relative;
}

#home-picture {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  max-width: 100%;
  height: 100vh;
  margin: auto;
}

#home-text {
  position: absolute;
  bottom: 10%;
  left: 11%;
  h1 {
    color: #DBB1BC;
    font-size: 36px;
  }
}

// Styling Home Content
.content-home-box {
  height: 100%;
  margin-top: 50px;
}

.content-home {
  width: 100%;
  height: 100vh;
  margin: auto;
  h2 {
    color: #DBB1BC;
    font-size: 26px;
  }
  p {
    font-size: 16px;
  }
}

// Styling squares with text
.text-cube-box {
  padding: 40px;
  max-height: 100%;
  display: flex;
  align-items: center;
}

// Styling squres with pictures

.cocktail-cube {
  padding: 40px;
}

// Styling link to all cocktails
.all-cocktails {
  text-align: center;
  margin: 35px auto;
}
