// Specific CSS for your home-page

body {
  background-color: white;
}

.btn {
  color: #ffbb00;
}

h2 {
  color: #00acb2;
}

h4 {
  color: #C3D0EB;
}

.banner {
  background-image: url('https://res.cloudinary.com/dteopaixi/image/upload/v1573921660/c2okcbt4jkf8mbwue3ye.jpg');
  background-size: cover;
  height: 50vh;
  position: relative;
  opacity: 0.9;
}

.banner-text {
  position: absolute;
  top: 15%;
  left: 11%;
  color: black;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
}
