// Specific CSS for your home-page

body {
  background-color: white;
}

.btn {
  color: #ffbb00;
}

h2 {
  color: #00acb2;
}

h4 {
  color: #C3D0EB;
}

 // Styling banner
#home-picture-box {
  display: grid;
  height: 100%;
}

#home-picture {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  position: relative;
}

#home-text {
  position: absolute;
  bottom: 15%;
  left: 11%;
  h1 {
    color: #DBB1BC;
    font-family: 'Anonymous Pro', monospace;
    font-size: 30px;
  }
}

// Styling Home Content
.all-cocktails {
  height: 100%;
}
