.btn {
  border: 0.5px solid $turkis;
  color: #78CAD2;
  padding: 25px 25px;
  transition: 0.3s;
  a {
    text-decoration: none;
    color: #78CAD2;
  }
}

.btn:hover {
  transition: 0.3s;
}

.btn-create {
  text-decoration: none;
  color: #8F95D3;
  // text-decoration: underline;
  background-color: white;
}

.btn-create:hover {
  text-decoration: none;
  color: #8F95D3;
  transform: scale(1.1);
}
