// Button to redirect to the cocktail index

.btn {
  border: 0.5px solid $turkis;
  color: $turkis;
  padding: 15px 15px;
  transition: 0.3s;
  a {
    text-decoration: none;
    color: $turkis;
  }
}

.btn:hover {
  transition: 0.3s;
}

// Button to create and update a cocktail
.btn-cocktail {
  text-decoration: none;
  color: $purple;
  // text-decoration: underline;
  background-color: white;
  border: none;
}

.btn-cocktail:hover {
  text-decoration: none;
  color: $purple;
}

