.home-card {
  width: 100%;
  height: 100%;
  border-radius: 2%;
  box-shadow: 2px 2px 2px rgb(230, 230, 230);
}

.show-card {
  height: 400px;
  width: 600px;
  border-radius: 2%;
  box-shadow: 2px 2px 2px rgb(230, 230, 230);
  margin-bottom: 30px;
}
