h1 {
  color: $beige;
}

.delete-icon {
  height: 15px;
  width: 15px;
}

.cocktail-box {
  display: flex;
  justify-content: space-around;
}

.cocktail-box-overview {
  display: flex;
  justify-content: space-around;
}

.ingredient {
  max-width: 350px;
  text-align: justify;
  text-justify: inter-word;
}
